
.fs-13 {
    font-size: 13px;
}
.balon1 {
    background: #42a5f5;
    color: #fff !important;
    border-radius: 20px 20px 3px 20px;
    display: block;
    max-width: 75%;
    padding: 7px 13px 7px 13px;
}

.balon2 {
    background: #f1f1f1;
    color: #000 !important;
    border-radius: 20px 20px 20px 3px;
    display: block;
    max-width: 75%;
    padding: 7px 13px 7px 13px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}




/*chat indicator*/
.typing-indicator {
	 background-color: #f1f1f1;
	 will-change: transform;
	 width: auto;
	 border-radius: 50px;
	 padding: 13px 20px;
	 display: table;
	 /* margin: 0 auto; */
	 position: relative;
	 animation: 2s bulge infinite ease-out;
}
 .typing-indicator::before, .typing-indicator::after {
	 content: '';
	 position: absolute;
	 bottom: -2px;
	 left: -2px;
	 height: 10px;
	 width: 10px;
	 border-radius: 50%;
	 background-color: #f1f1f1;
}
 .typing-indicator::after {
	 height: 5px;
	 width: 5px;
	 left: -10px;
	 bottom: -10px;
}
 .typing-indicator span {
	 height: 5px;
	 width: 5px;
	 float: left;
	 margin: 0 1px;
	 background-color: #9e9ea1;
	 display: block;
	 border-radius: 50%;
	 opacity: 0.4;
}
 .typing-indicator span:nth-of-type(1) {
	 animation: 1s blink infinite 0.3333s;
}
 .typing-indicator span:nth-of-type(2) {
	 animation: 1s blink infinite 0.6666s;
}
 .typing-indicator span:nth-of-type(3) {
	 animation: 1s blink infinite 0.9999s;
}
 @keyframes blink {
	 50% {
		 opacity: 1;
	}
}
 @keyframes bulge {
	 50% {
		 transform: scale(1.05);
	}
}
 